@import url('https://s3.amazonaws.com/icomoon.io/103594/PSCUMVP2018Scripts/style.css?30bn9o');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');
@font-face {
    font-family: 'Open Sans';
    src: url('images/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans IE';
    src: url('images/OpenSans-Regular.eot');
}

* {
    font-family: Open Sans, Open Sans IE;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

input,
textarea {
    margin-left: 5px;
}

.jaa-breadcrumb-dots,
.jaa-breadcrumb-element {
    display: inline-block;
    height: 20px;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    margin-top: 5px;
    cursor: pointer;
}

.ie8 .jaa-breadcrumb-element,
.ie8 .jaa-breadcrumb-dots {
    bottom: 5px;
    position: relative;
}

.jaa-breadcrumb-container {
    position: relative;
    height: 28px;
    padding-top: 7px;
    padding-left: 13px;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.jaa-breadcrumb-home {
    background-image: none;
    width: auto;
    cursor: pointer;
    float: left;
}

.jaa-breadcrumb-element {
    color: #2a353b;
    font-size: 13px;
    cursor: pointer;
}

.jaa-breadcrumb-last:before,
.jaa-breadcrumb-last {
    color: #2a353b;
}

.jaa-breadcrumb-disabled,
.jaa-breadcrumb-disabled:before {
    color: #8e8b84;
    cursor: default;
}

.jaa-breadcrumb-separator {
    width: 8px;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
    margin-right: 5px;
    margin-left: 7px;
    background-image: url('./images/arrow_breadcrumb.png');
}

.ie8 .jaa-breadcrumb-separator {
    bottom: 5px;
}

.jaa-page-header-text {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 3px;
    font-weight: bold;
    font-size: 18px;
    color: #212121;
}

.jaa-page-header.ui-widget-header {
    height: 57px;
    background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#212121));
    background: linear-gradient(to bottom, #535353 0%, #212121 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#535353', EndColorStr='#212121');
    color: #fff;
    font-size: 18px;
    line-height: 57px;
}

p.jaa-header-footer:last-child {
    padding-top: 10px;
}

.jaa-header-footer {
    margin-left: 4px;
    padding-bottom: 10px;
}

.jaa-section-label {
    margin-left: 5px;
    margin-top: 0;
}

.jaa-content-section {
    margin-top: 10px;
}

.jaa-header-footer>ol,
.jaa-header-footer>ul {
    margin-left: 30px;
}

.ui-menu {
    background-color: #F7F7F7;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 1px 1px 2px 0px #444;
    box-shadow: 1px 1px 2px 0px #444;
}

.ui-menu-item {
    list-style: none;
    padding: 5px 10px;
}

.ui-menu-item a {
    text-decoration: none;
}

.jaa-button-left,
.jaa-button-right {
    color: white;
    background-color: #A4C155 !important;
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    height: 40px;
    width: 117px;
    float: right;
    border-radius: 5px !important;
    cursor: pointer;
    margin: 15px 13px;
    text-transform: uppercase;
}

.jaa-button-left {
    float: left !important;
}

.jaa-button-left:hover,
.jaa-button-right:hover {
    background-color: #8cb700 !important;
}

.jaa-button-left.ui-button-disabled,
.jaa-button-right.ui-button-disabled,
.jaa-button-left.ui-button-disabled:hover,
.jaa-button-right.ui-button-disabled:hover {
    background-color: #d1d5d8 !important;
    cursor: default;
}

.jaa-button-right span:after {
    content: "\2192";
    position: absolute;
    display: inline-block;
    color: white;
    margin-left: 7px;
    font-size: 22px;
    margin-top: -8px;
}

.jaa-button-left span:before {
    content: "\2190";
    position: absolute;
    display: inline-block;
    color: white;
    margin-left: -27px;
    font-size: 22px;
    margin-top: -8px;
}

.jaa-navigation-bar {
    width: 100%;
    display: block;
    height: 66px;
    background-color: #f7f7f7;
    border-top: 2px solid #e4e4e4;
    position: fixed;
    bottom: 0;
}

.jaa-clickto-continue-container {
    width: 100%;
    margin: 0 3px;
    border-collapse: collapse;
}

.jaa-clickto-continue-container td {
    padding: 0;
    margin: 0;
    border-top: 2px solid #ddd;
    cursor: pointer;
    height: 30px;
}

.jaa-clickto-continue-container td button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    height: 100%;
    padding-left: 10px;
    color: #212121;
}

.jaa-clickto-continue-container td:hover {
    background-color: #ddd;
}

.jaa-clickto-continue-container tr:last-child td {
    border-bottom: 2px solid #ddd;
    cursor: pointer;
}

.jaa-button-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: 2px;
    margin-right: 10px;
}

.jaa-clickto-continue-container td button span.ui-button-text:after {
    content: "\203A";
    position: absolute;
    right: 10px;
    font-size: 20px;
    bottom: 5px;
}

textarea,
input,
.jaa-select-from-list select {
    border: 2px solid #d7d8dd;
    border-radius: 3px;
    padding: 3px;
    min-height: 22px;
    width: 50%;
}

.jaa-select-from-list input {
    width: 100%;
}

.jaa-input-text-container textarea {
    height: 100px;
    width: 97%;
}

.jaa-required:before {
    content: "" !important;
}

.jaa-required textarea,
.jaa-required input,
.jaa-required select {
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('./images/required.png');
}

.jaa-required .jaa-select-from-list input {
    background-position: top -1px right 20px;
}

.jaa-required select {
    background-position: top -1px right 17px;
}

.ie .jaa-required select {
    background-position: top -1px right 22px;
}

.ie .jaa-required select::-ms-expand {
    background-color: transparent;
    border: none;
}

.jaa-autocomplete-selector {
    right: -4px;
}

.ie .jaa-autocomplete-selector {
    top: 7px;
}

.jaa-required .jaa-autocomplete-selector {
    right: 15px;
}

.jaa-content-panel {
    padding-right: 13px;
    padding-left: 13px;
}

.ui-accordion-header {
    cursor: pointer;
}

.jaa-click-to-continue-category .ui-accordion-header {
    color: #212121;
    font-size: 14px;
    position: relative;
    height: 25px;
    padding-top: 5px;
    border-bottom: 2px solid #e1e1e1;
    padding-left: 35px;
}

.jaa-click-to-continue-category .ui-accordion-header:first-child {
    border-top: 2px solid #e1e1e1;
}

.jaa-click-to-continue-category .ui-accordion-header:first-child.ui-accordion-header-active {
    border-top: none;
}

.jaa-click-to-continue-category .ui-accordion-header-active {
    border-bottom: none;
    color: #a4c155;
}

.jaa-click-to-continue-category .ui-accordion-header:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 25px;
    left: 0;
    top: 3px;
    background-repeat: no-repeat;
    background-image: url('./images/plus.png');
}

.jaa-click-to-continue-category .ui-accordion-header.ui-accordion-header-active:before {
    background-image: url('./images/minus.png');
    left: 2px;
}

.jaa-button-contact-us {
    background-color: transparent;
    background-repeat: no-repeat;
    margin-right: 24px;
    margin-top: 12px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    background-image: url('./images/contact.png');
}

.jaa-contact-us-page {
    background-color: #fff;
    margin-top: 65px;
}

.gte-640 .jaa-contact-us-buttons-container,
.jaa-contact-us-buttons-container {
    margin: 30px auto;
    width: 335px;
}

.jaa-contact-us-page .jaa-navigation-bar {
    position: fixed;
    bottom: 0px;
}

.jaa-contact-us-page .jaa-button-left {
    position: static;
}

.jaa-contact-us-button {
    background-color: transparent;
    position: absolute;
    background: none;
    background-color: #00abcf;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.jaa-contact-us-button:hover {
    background-color: #3e454d;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jaa-contact-us-icon {
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 !important;
}

.jaa-matrix .jaa-contact-us-item span p {
    background-color: transparent;
    color: #fff;
}

.gte-640 .jaa-contact-us-item,
.jaa-contact-us-item {
    margin: 15px 0 0 15px;
    width: 144px;
    height: 135px !important;
}

.jaa-icon-chat {
    background-image: url('./images/chat-icon.png');
}

.jaa-icon-call {
    background-image: url('./images/call-icon.png');
}

.jaa-icon-callback {
    background-image: url('./images/callback-icon.png');
}

.jaa-icon-mailto {
    background-image: url('./images/email-icon.png');
}

.jaa-help-button {
    float: right;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: medium none;
    background: none repeat scroll 0% 0% transparent;
    background-repeat: no-repeat;
    background-image: url('./images/help.png');
    margin-top: 12px;
    margin-right: 24px;
}


/*********Matrix ***/

.jaa-matrix-button {
    position: relative;
    width: 144px;
    background: none;
    background-color: #00abcf;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #fff;
}

.jaa-matrix-button:hover {
    border: 2px solid #343f4b;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jaa-content-panel>ul.jaa-matrix,
.jaa-matrix {
    width: 330px;
    margin: 10px auto;
}

.jaa-matrix-item {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 144px !important;
    height: 135px !important;
}

.jaa-matrix img {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ie8 .jaa-matrix img {
    bottom: 100%;
}

.jaa-matrix-button-icon {
    width: auto;
}


/***Chat*/

.triangle-isosceles.right:after,
.triangle-right.left:after,
.triangle-right:after,
.triangle-isosceles:after {
    border: none;
    display: none;
}

.triangle-right.left {
    margin-right: 13px;
    margin-left: 13px;
    width: auto;
    background-color: #a4c155;
    display: block;
    margin-top: 10px;
}

.triangle-isosceles.right {
    margin-right: 13px;
    margin-left: 13px;
    width: auto;
    background-color: #19b2d1;
    display: block;
    float: none;
    margin-top: 10px;
    color: #fff;
}

.jaa-popover-chat-form {
    background-color: #3e454d;
    width: 100%;
    padding: 0;
    height: 66px;
}

.jaa-popover-chat-form .jaa-popover-chat-input {
    margin-left: 13px;
    margin-right: 5px;
    margin-top: 12px;
    padding-left: 7px;
    width: 70%;
}

.jaa-popover-chat-form .jaa-popover-chat-send {
    background: none;
    border: none;
    background-color: #a4c155;
    height: 40px;
    width: 70px;
    color: #fff;
}

#chatContainer {
    height: 456px !important;
    padding-bottom: 10px;
}


/** Radio btns */

.prettycheckbox a,
.prettyradio a {
    background: none;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background-image: url('./images/unchecked.png');
}

.prettyradio a.checked:focus,
.prettyradio a.checked,
.prettycheckbox a.checked:focus,
.prettycheckbox a.checked,
.prettyradio a.unchecked,
.prettycheckbox a.unchecked {
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
}

.prettyradio a.unchecked,
.prettycheckbox a.unchecked {
    background-image: url('./images/unchecked.png');
}

.prettyradio a.checked:focus,
.prettyradio a.checked {
    background-image: url('./images/radio.png');
}

.prettycheckbox a.checked:focus,
.prettycheckbox a.checked {
    background-image: url('./images/checked.png');
}

.jaa-logo {
    width: 65px;
    height: 35px;
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('./images/logo.png');
}


/******* YES NO SWITCH *******/

.switch-button-background {
    width: 55px !important;
    height: 25px !important;
    background-color: #b0b0b0;
}

.switch-button-background.checked {
    background-color: #a4c155;
}

.switch-button-button {
    height: 21px !important;
    width: 21px !important;
    -webkit-box-shadow: 0px 0px 2px 0px #555 !important;
    box-shadow: 0px 0px 2px 0px #555 !important;
    top: 1px;
    left: 1px !important;
}

.checked .switch-button-button {
    left: 32px !important;
}

.switch-button-label {
    margin-top: 5px;
}

.switch-button-label.on {
    color: #4e4e4f !important;
}

.jaa-switch-wrapper {
    top: 10px;
}

td.jaa-details-value-column .jaa-switch-wrapper {
    top: 0;
}


/**************/

tr.jaa-required td.jaa-details-label-column {
    position: relative;
    left: 0px;
    display: inline-block;
}


/***Date Picker */

.ui-datepicker {
    background-color: #fff;
    width: 280px;
    border: 1px solid #c2c2c2;
}

.ui-datepicker thead {
    width: 100%;
}

.ui-datepicker thead tr {
    width: 100%;
}

.ui-datepicker th {
    width: 40px;
    height: 31px;
    background-color: #a4c155;
    color: #fff;
    cursor: pointer;
}

.ui-datepicker td {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
}

.ui-datepicker td:first-child {
    border-left: none;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: none;
}

.ui-datepicker tbody tr:last-child td {
    border-bottom: none;
}

.ui-datepicker td.ui-state-disabled {
    cursor: default;
}

.ui-datepicker td a {
    text-decoration: none;
    font-size: 20px;
    color: #868686;
}

.ui-datepicker td.ui-datepicker-current-day {
    background-color: #00abcf;
}

.ui-datepicker td.ui-datepicker-current-day a.ui-state-active {
    background: none;
    border: none;
    color: #fff;
}

.ui-datepicker td.ui-datepicker-today a.ui-state-highlight {
    background: none;
    border: none;
    color: #868686;
}

.ui-datepicker table {
    border-collapse: collapse;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #00abcf;
    color: #fff;
    height: 41px;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    border-width: medium medium 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #B6B6B6;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -o-border-image: none;
    border-image: none;
    border-radius: 0px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 6px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev {
    left: 5px;
}

.ui-datepicker .ui-datepicker-next {
    right: 15px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0px 2.3em;
    line-height: 3em;
    text-align: center;
    font-size: 12px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.ui-datepicker .ui-datepicker-year:focus {
    background-color: #fff;
    color: #000;
}

.ui-datepicker .ui-datepicker-year {
    background: none;
    background-color: #00ABCF;
    border: none;
    color: #fff;
    width: 60px;
}

.ui-datepicker .ui-datepicker-next:after {
    position: absolute;
    content: "\203A";
    right: 0px;
    font-size: 25px;
    cursor: pointer;
    top: -5px;
}

.ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev:after {
    position: absolute;
    content: "\2039";
    left: 8px;
    font-size: 25px;
    cursor: pointer;
    top: -5px;
}

.ui-datepicker .ui-datepicker-prev {
    cursor: pointer;
}

.jaa-has-datepicker {
    position: relative;
}

.jaa-details-form-container .jaa-has-datepicker .jaa-details-value-column:after,
.jaa-has-datepicker:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-position: center;
    top: -5px;
    left: 7px;
    background-image: url('./images/calendar.png');
}

.jaa-details-form-container .jaa-has-datepicker .jaa-details-value-column {
    position: relative;
}

.jaa-details-form-container .jaa-has-datepicker .jaa-details-value-column:after {
    top: 0;
}

.jaa-details-form-container .jaa-has-datepicker:after {
    display: none;
}

.jaa-input-text-container input.jaa-date-text {
    padding-left: 40px;
    width: calc(50% - 37px);
}


/*********************/

.jaa-collection-display-table {
    border-collapse: collapse;
}

.jaa-collection-display-table th,
.jaa-collection-display-table td {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px
}

.jaa-collection-display-table tr {
    border-bottom: 1px solid #b9b6b5 !important;
}

.jaa-collection-display-table-checkbox-column,
.jaa-collection-display-checkbox-cell {
    border: none !important;
}

.jaa-section-separator {
    display: none;
}

.jaa-collection-display-selected-row {
    background-color: #f4f9ea;
}

#dialog-form input.text {
    margin-bottom: 0px;
    width: 95%;
    padding: .4em;
}

.jaa-content-panel>ol,
.jaa-content-panel>ul {
    margin-left: 30px;
}


/********Photo Upload *****/

.jaa-uploadphoto-table {
    width: 99%;
    max-width: 300px;
    margin-left: 5px;
}

.jaa-uploadphoto-button-cell,
.jaa-uploadphoto-previewCell,
.jaa-uploadphoto-label-cell {
    display: inline-block;
    margin-top: 20px;
}

.jaa-uploadphoto-fileNameCell {
    display: none;
}

.jaa-uploadphoto-button-cell {
    float: right !important;
}

.jaa-uploadphoto-row {
    border-bottom: 1px solid #E4E4E4;
    margin-top: 30px;
    height: 100px;
}

.jaa-uploadphoto-row:last-child {
    border-bottom: none;
}

.jaa-uploadphoto-Btn {
    border: none;
    padding: 3px !important;
    width: 70px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.jaa-uploadphoto-button-select {
    background-color: #a4c155;
}

.jaa-uploadphoto-button-remove {
    background-color: #19b2d1;
}

.jaa-uploadphoto-previewCell {
    float: left;
    margin-right: 10px;
    background-color: #3e454d;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-image: url('./images/photo.png');
}

.jaa-uploadphoto-previewCell.jaa-uploadphoto-has-img {
    background-image: none;
}

.jaa-uploadphoto-previewImg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.jaa-answers-previewImg {
    max-width: 5em;
    max-height: 5em;
    cursor: pointer;
    padding: 5px;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #e4e4e4;
    background: none repeat scroll 0% 0% #F7F7F7;
    color: #A4A4A4;
    border-radius: 0px !important;
}

.ui-widget-overlay {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.ui-dialog {
    z-index: 1100;
    background-color: #fefefe;
    text-align: center;
    padding-top: 55px;
    max-width: 400px;
    width: 90% !important;
}

.ui-dialog .ui-dialog-titlebar {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 20px;
    padding: 0 10px;
}

.ui-dialog .ui-dialog-content {
    height: auto !important;
    margin-bottom: 35px;
    font-size: 15px;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    background-color: #ebebeb;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #fff;
}

.ui-dialog .ui-dialog-buttonpane .ui-button {
    border: none;
    background-color: #a4c155;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    margin: auto 10px;
    cursor: pointer;
}

.ui-dialog .ui-dialog-buttonpane .ui-button:hover {
    background-color: #8CB700;
}

.ui-menu {
    max-height: 50%;
    overflow-y: auto;
    width: 60%;
    max-width: 200px;
}


/*********************** Interactions List ****************/

.jaa-tabs-tabslist {
    height: 57px;
    background: -webkit-gradient(linear, left top, left bottom, from(#535353), to(#212121)) repeat scroll 0% 0% transparent;
    background: linear-gradient(to bottom, #535353 0%, #212121 100%) repeat scroll 0% 0% transparent;
    color: #FFF;
    font-size: 18px;
    line-height: 57px;
    text-align: center;
    list-style: none;
}

.jaa-tabs-tabslist a {
    color: #fff;
    text-decoration: none;
}

html {
    overflow-y: hidden;
}

.jaa-interactions-list li {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    height: 100%;
    padding-left: 10px;
    color: #212121;
}

.jaa-interactions-list li:hover {
    background-color: #ddd;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.jaa-email-form.ui-dialog .ui-dialog-titlebar {
    margin-top: -30px;
    margin-bottom: 35px;
    font-size: 20px;
    background-color: #efefef;
    padding-bottom: 5px;
}

.jaa-img-preview-modal .ui-dialog-titlebar-close {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid #000;
    position: relative;
    cursor: pointer;
    float: right;
    top: -70px;
    right: -25px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

.jaa-img-preview-modal .ui-dialog-titlebar-close .ui-button-text {
    display: none;
}

.jaa-img-preview-modal .ui-dialog-titlebar-close .ui-icon {
    height: 100%;
    width: 100%;
    margin: auto;
}

.jaa-img-preview-modal .ui-dialog-titlebar-close .ui-icon:after {
    position: absolute;
    content: "x";
    font-size: 17px;
    color: #fff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.jaa-img-preview-modal img {
    width: 100%;
    height: auto;
}

.jaa-nlp-element {
    border-color: #a4c155;
}

.jaa-nlp-element:before {
    border-color: transparent #a4c155 transparent transparent;
}

.jaa-nlp-element-button {
    background-color: #a4c155;
}


/******************************************************************************
*******************************************************************************
************************************ PSCU *************************************
*******************************************************************************
******************************************************************************/

body {
    background-color: #f2f2f2;
}

.jaa-full-mode-container {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    width: 95%;
    height: 95%;
    margin: 10px auto;
}

.jaa-page-header {
    display: none;
}

span.jaa-page-header-text {
    background: #004253;
    color: #fff;
    min-height: 41px;
    padding: 11px 10px 9px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.jaa-content-panel {
    padding: 0;
    height: 92% !important;
}

.jaa-tab-panel {
    background: #fff;
    height: 100% !important;
}

.jaa-navigation-bar {
    border-top: 0;
    width: 93.1%;
    background: transparent;
}

textarea,
input,
.jaa-select-from-list select {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 6px 12px;
}

input {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 6px 12px 9px 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
}

.jaa-required select {
    background-image: none;
}

body {
    color: #3d3d3d;
    width: 98%;
    height: 97%;
    margin: 0.5% auto;
}

a.jaa-input-text-container {
    position: relative;
}

.jaa-input-text-container:before {
    content: '\f040';
    font-family: icomoon;
    display: block;
    position: absolute;
    top: -5px;
    left: 6px;
    background: #e5e5e5;
    padding: 10px 12px;
    min-width: 39px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #999;
}

.jaa-input-text-container input,
.jaa-select-from-list select,
.jaa-autocomplete {
    width: calc(100% - 5px);
}

.jaa-select-from-list select {
    width: 100%;
}

.jaa-required select {
    background-image: none;
}

.jaa-button-left,
.jaa-button-right {
    background-color: #559cb5 !important;
    color: #fff;
    border-radius: 2px !important;
    border: none;
    font-weight: 600;
}

.jaa-button-right span:after {
    display: none;
}

.jaa-button-left span:before {
    display: none;
}

.jaa-button-left:hover,
.jaa-button-right:hover {
    background-color: #4c93d2 !important;
}

.jaa-button-left.ui-button-disabled,
.jaa-button-right.ui-button-disabled,
.jaa-button-left.ui-button-disabled:hover,
.jaa-button-right.ui-button-disabled:hover {
    background-color: #559cb5 !important;
    opacity: .65;
}

.ui-button-disabled.jaa-button-right .ui-button-text:after {
    background-color: #559cb5;
    opacity: .65;
}

.speak:before {
    content: '\e900';
    font-family: icomoon;
    color: #004253;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
}

.speak {
    background-color: rgba(191, 215, 48, 0.2);
    padding: 10px;
    display: block;
    margin: 15px 0 0;
    font-weight: bold;
}

.jaa-content-section {
    padding: 0 15px 10px 10px;
}

.jaa-clickto-continue-container td {
    border-top: 1px solid #eee;
    height: 40px;
}

.jaa-clickto-continue-container tr:last-child td {
    border-bottom: 1px solid #eee;
}

.jaa-clickto-continue-container td button span.ui-button-text:after {
    display: none;
}

.jaa-clickto-continue-container td:hover {
    background-color: #4c93d2;
}

a[data-refname="multiline"]:before {
    content: initial;
}

a[data-refname="date"]:before {
    content: '\f271';
}

.jaa-details-form-container .jaa-has-datepicker .jaa-details-value-column:after,
.jaa-has-datepicker:after {
    background-image: none;
}

.jaa-input-text-container input.jaa-date-text {
    width: calc(100% - 5px);
    padding-left: 50px;
}

.jaa-input-text-container textarea {
    width: calc(100% - 31px) !important;
}

.jaa-radio-group-container {
    margin-left: 10px;
}

.prettycheckbox a,
.prettyradio a {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-image: none;
    width: 18px;
    height: 18px;
}

.prettyradio a.unchecked,
.prettycheckbox a.unchecked {
    background-image: none;
}

.prettyradio a.checked:focus,
.prettyradio a.checked {
    background-image: none;
}

a.checked {
    position: relative;
}

a.checked:before {
    width: 12px;
    height: 12px;
    display: block;
    content: '';
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}


/* toggle */

.switch-button-button {
    border-radius: 50%;
    top: 2px;
}

.switch-button-background {
    border-radius: 78px;
    border: none;
    width: 60px !important;
    height: 27px !important;
}

.switch-button-background.checked {
    background-color: #000;
}

.checked .switch-button-button {
    left: 34px !important;
}

span.switch-button-label {
    display: none !important;
}

.jaa-switch-wrapper {
    left: -27px;
}


/* toggle end */


/* date picker */

.ui-datepicker .ui-datepicker-header {
    background: #fff;
    color: #000;
}

.ui-datepicker .ui-datepicker-year {
    background: #fff;
    color: #000;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 3.5em;
}

.ui-datepicker th {
    background: #fff;
    color: #000;
}

.ui-datepicker th:first-child {
    border-left: none;
}

.ui-datepicker td {
    border: 1px solid #c2c2c2;
    background-color: #fff;
}

.ui-datepicker td a {
    color: #000;
    font-size: 15px;
}

.ui-datepicker-today {
    background-color: #e5e5e5 !important;
}

.ui-datepicker td.ui-datepicker-today a.ui-state-highlight {
    color: #fff;
}

.ui-datepicker td:hover {
    background: #e5e5e5;
}

.ui-datepicker td.ui-datepicker-current-day {
    background-color: #51a8ef !important;
}


/* date picker end */


/* buttons */

.jaa-clickto-continue-container tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1100px;
}

table[data-refname="choices"] tbody tr,
.jaa-clickto-continue-container tbody tr {
    margin: 10px;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 27%;
    flex: 0 0 27%;
}

.jaa-clickto-continue-container tbody tr td {
    width: 100% !important;
    border: none;
    background-color: #559cb5;
    color: #fff;
    border-radius: 2px;
}

.jaa-clickto-continue-container button {
    color: #fff !important;
    padding: 0 20px;
    min-width: 250px;
    text-align: center;
}

.jaa-navigation-button.ui-button-disabled {
    display: none;
}

.jma-navigation-button:hover {
    color: #b20000;
    background-color: transparent !important;
}

.next-btn-disabled {
    color: #fff;
    background-color: #eeeeee !important;
    pointer-events: none;
}


/* buttons end */

.jaa-top-bar {
    display: none;
}

#main-container {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
    width: 95% !important;
    height: calc(100vh - 90px) !important;
    margin: 15px auto !important;
}

.ui-tabs-nav {
    margin-left: 30px;
}


/* last page */

#answersTable_filter input {
    background: transparent;
    margin: 0;
    position: relative;
    top: -3px;
    left: 0;
    width: 100%;
    padding-left: 20px;
}

#answersTable_filter input:focus {
    outline: none;
}

.ColVis_collection li input {
    width: 20%;
}

.cancel-report {
    background-color: #fff;
    color: #ff0000;
    padding: 15px 32px 0px 0px;
    text-decoration: underline;
    font-weight: bold;
}


/* PSCU 7/13 */

div[data-refname="account_summary_response:1"] table td:nth-child(2) {
    max-width: 19px;
}

.prettycheckbox a,
.prettyradio a {
    border: 1px solid #bbb;
}

div[data-refname="account_summary_response:1"] .jaa-collection-display-table-border {
    border-right: none;
}

div[data-refname="account_summary_response:1"] .jaa-collection-display-table tr {
    border-bottom: none !important;
}

.jaa-content-section {
    padding: 0 10px 10px 10px;
}

div[data-refname="account_summary_response:1"] .jaa-collection-display-table tr:nth-child(odd) {
    background: #f7f7f7;
}

div[data-refname="account_summary_response:1"] {
    margin: 18px -10px;
}

div[data-refname="account_summary_response:1"] table td:first-child {
    width: 50px;
}

div[data-refname="account_summary_response:1"] a.checked:before {
    background: #559cb5;
}

.jaa-collection-display-selected-row {
    background-color: #ddebf0 !important;
}

div[data-refname="account_summary_response:1"] table td:first-child {
    width: 50px;
}

#selectcallerpage .jaa-content-panel {
    height: 92% !important;
    border: 1px solid #dddddd;
}

#selectcallerpage .jaa-button-right {
    position: relative;
    top: -15px;
}

#selectcallerpage .jaa-content-panel {
    height: 100% !important;
    border: none;
}

#selectcallerpage .jaa-navigation-bar {
    background: #fff;
    height: 40px;
    bottom: 51px;
    margin-left: 1px;
    width: 95%;
}

div[data-refname="account_summary_response:1"] {
    margin: 18px 0px;
    border: 1px solid #ddd;
    height: 300px;
}

#selectcallerpage #main-container {
    width: 98% !important;
    height: 98% !important;
}

#selectcallerpage .jaa-tab-panel {
    height: 99.7% !important;
}

#calleridentificationsuccess .jaa-button-right {
    display: none;
}

.instruction:before {
    content: '\f05a';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #004253;
    margin-right: 10px;
    font-size: 20px;
}

.instruction {
    padding: 10px;
    display: block;
    margin: 15px 0 0;
    background-color: #dceff6;
}

#checktravelnotification table.jaa-collection-display-table thead th:nth-child(2) {
    width: 140px;
}

#checktravelnotification table.jaa-collection-display-table thead th:first-child {
    width: 100px;
}

#checktravelnotification table.jaa-collection-display-table {
    border: 1px solid #ddd;
}

#checktravelnotification table.jaa-collection-display-table thead th {
    background-color: #dceff6;
    border: none;
    color: #666;
}

#checktravelnotification table.jaa-collection-display-table tr {
    border: none !important;
}

#checktravelnotification table.jaa-collection-display-table td {
    border: none;
}

#checktravelnotification table.jaa-collection-display-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.phonenumber-block {
    text-align: center;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 20px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phonenumber-block span {
    font-weight: bold;
}

#afterHoursPhoneNumber {
    font-weight: 600;
}

.hidden {
    display: none;
}

div#ui-datepicker-div {
    padding: 20px;
}

.ui-datepicker-calendar th {
    border: none !important;
}

.ui-datepicker thead {
    border: none !important;
}

.ui-datepicker .ui-datepicker-header {
    border-bottom: 0;
}

.ui-datepicker td {
    border: 0;
}

.ui-datepicker-today {
    background-color: #51a8ef !important;
}

.auth-message {
    margin: 12px 0 0;
}

.auth-message p {
    margin: 10px 0;
}

.auth-message p:nth-child(4) {
    margin-top: 10px;
}

.prettycheckbox a {
    border-radius: 0;
    margin-top: 0;
}

.prettycheckbox a.checked:focus,
.prettycheckbox a.checked {
    background-image: none;
}

.prettycheckbox a.checked:before {
    background: none;
    content: '\f00c';
    font-family: icomoon;
    top: 2px;
    left: 2px;
    color: #000;
}

.auth-message table {
    width: 100%;
    border: 1px solid #ddd;
    border-spacing: 0;
    margin: 20px 0;
}

.auth-message table td {
    padding: 8px;
}

.auth-message table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.auth-message p:last-child {
    display: none;
}

ul[data-refname="us_states:1"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul[data-refname="us_states:1"] div {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: calc(100% * (1/5) - 10px);
    height: 35px;
    margin-top: 10px;
}

ul[data-refname="us_states:1"] div label {
    min-width: 110px;
}

.phonenumber-block p {
    margin-bottom: 8px;
}